.homehead{
    color: rgb(202, 15, 15);
    font-style: unset;
    
}
.base-html-conatiner{
    background-color: aquamarine;
}
.para{
    font-style: oblique;
    color: darkblue;
    font-weight: bold;
}