{% extends 'base.html' %}
{% load static %}
<html lan='eng'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'C:\Users\91830\OneDrive\Desktop\pages\static\index.css' %}">
    <title>Aboutpage</title>
{% block content %}
    <h1 class="homehead">About_-_page</h1>
    <hr/>
    <strong>About_page</strong>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, laborum alias qui voluptatum necessitatibus incidunt recusandae inventore suscipit aliquid nulla. Consequuntur doloremque provident quia tenetur illum dolore, sapiente possimus, ut, enim unde accusamus? Nobis, odit inventore laborum quo voluptas in quis mollitia eaque ipsum possimus ex debitis nam sint aspernatur iure soluta aperiam illum quam impedit nulla nisi modi! Quis eum quidem culpa ea, nihil veritatis illo maxime dolorum et voluptates repellendus inventore enim aliquid unde exercitationem accusantium autem dolore facere. Dolore praesentium officiis maiores exercitationem dignissimos doloribus qui voluptate, maxime itaque et voluptatem necessitatibus similique quibusdam sapiente! Cumque, nulla!</p>
{% endblock content %}

    